
.vs/SE-FIT manager/FileContentIndex/2225520b-6911-423c-be81-9f63babf6c5e.vsidx
.vs/SE-FIT manager/FileContentIndex/55b4c0b1-a0f9-4b26-b2af-2fd531fe6d34.vsidx
.vs/SE-FIT manager/FileContentIndex/5c001d37-06b3-4fa3-9e2d-ffc172752056.vsidx
.vs/SE-FIT manager/FileContentIndex/6cb083b5-4408-431d-a3a1-61f0a622ac76.vsidx
.vs/SE-FIT manager/FileContentIndex/9710730b-6909-4721-a2e2-83a1565974bd.vsidx
.vs/SE-FIT manager/v17/.suo
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SE-FIT manager.exe
obj/Debug/SE-FIT manager.vbproj.FileListAbsolute.txt
/.vs/SE-FIT manager/FileContentIndex
/.vs/SE-FIT manager/FileContentIndex
/.vs/SE-FIT manager/v17
/obj/Debug
/obj
/packages
/obj/Debug
/obj/Debug
/obj/Debug
/obj
.vs/SE-FIT manager/v17/.suo
.vs/SE-FIT manager/v17/DocumentLayout.json
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/SE-FIT manager.exe
obj/Debug/SE-FIT manager.pdb
obj/Debug/SE-FIT manager.vbproj.GenerateResource.cache
*.cache
.vs/SE-FIT manager/v17/.suo
.vs/SE-FIT manager/v17/DocumentLayout.json
.vs/SE-FIT manager/v17/.suo
.vs/SE-FIT manager/v17/DocumentLayout.json
obj/Debug/SE-FIT manager.exe
obj/Debug/SE-FIT manager.pdb
.vs/SE-FIT manager/v17/.suo
.vs/SE-FIT manager/v17/DocumentLayout.json
.vs/SE-FIT manager/v17/.suo
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug
.vs/SE-FIT manager/v17/.suo
/.vs/SE-FIT manager/v17
/obj/Debug
